@model CodeIntern.Models.InternshipViewModel

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Internship</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <input asp-for="CompanyId" hidden />
            <div class="border p-3">
                <div class="form-floating py-2 col-12">
                    <input asp-for="CompanyName" class="form-control border-0 shadow" />
                    <label asp-for="CompanyName" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Title" class="form-control border-0 shadow" />
                    <label asp-for="Title" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <textarea asp-for="Description" class="form-control border-0 shadow"></textarea> 
                    <label asp-for="Description" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="StartDate" type="date" class="form-control border-0 shadow" />
                    <label asp-for="StartDate" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="EndDate" type="date" class="form-control border-0 shadow" />
                    <label asp-for="EndDate" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <div><label asp-for="Location" class="ms-2"></label></div>
                    <select id="locationSelect" asp-for="Location" class=" py-2 col-12 selectpicker" multiple>
                        @foreach (var city in SD.Cities)
                        {
                            <option value="@city">@city</option>
                        }
                    </select>
                </div>

                <div class="form-check py-2 col-12">
                    <input asp-for="IsPaid" class="form-check-input" />
                    <label asp-for="IsPaid" class="form-check-label">Paid</label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="PayPerHour" class="form-control border-0 shadow" />
                    <label asp-for="PayPerHour" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="NumberOfOpenings" class="form-control border-0 shadow" />
                    <label asp-for="NumberOfOpenings" class="ms-2"></label>
                </div>
                
                <div class="form-floating mb-3">
                    
                    <select asp-for="Position"  class="form-select">
                        <option disabled selected>-Select Position-</option>
                        @foreach (var position in SD.Position)
                        {
                            <option value="@position">@position</option>
                        }
                    </select>
                    <label asp-for="Position" class="ms-2"></label>
                </div>
                <div class="form-floating mb-3">
                    <div><label asp-for="ProgLanguage" class="ms-2"></label></div>
                    <select id="progLanguageSelect" asp-for="ProgLanguage" class=" py-2 col-12 selectpicker" multiple>
                        @foreach (var language in SD.ProgLanguage)
                        {
                            <option value="@language">@language</option>
                        }
                    </select>

                </div>
                <div class="form-floating mb-3">
                    <div><label asp-for="Technology" class="ms-2"></label></div>
                    <select id="technologySelect" asp-for="Technology" class=" py-2 col-12 selectpicker" multiple>
                        @foreach (var technology in SD.Technology)
                        {
                            <option value="@technology">@technology</option>
                        }
                    </select>

                </div>
                <div class="form-floating mb-3">
                    <select asp-for="WorkPlace" class="form-select">
                        <option disabled selected>-Select Work Place-</option>
                        @foreach (var place in SD.WorkPlace)
                        {
                            <option value="@place">@place</option>
                        }
                    </select>
                    <label asp-for="WorkPlace" class="ms-2"></label>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control" onclick="ShowMessage('Internship created successfuly!')">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Internship" asp-action="Index" class="btn btn-outline-primary border  form-control">
                            Back to List
                        </a>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons lists  table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | checklist numlist bullist indent outdent ',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });

        $(document).ready(function () {
            $('#locationSelect').select2({
                placeholder: "-Select Location-",
                allowClear: true
            });
        });

        $(document).ready(function () {
            $('#progLanguageSelect').select2({
                placeholder: "-Select Programming Language-",
                allowClear: true
            });
        });

        $(document).ready(function () {
            $('#technologySelect').select2({
                placeholder: "-Select Technology-",
                allowClear: true
            });
        });
    </script>
}


                       
