@model Internship
<h2>@Model.CompanyName</h2>
<div>
    <div class="row">
        <div class="row">
            <p>@Model.CompanyName</p>
        </div>
        <div class="row">
            <p>@Model.Title</p>
        </div>
        <div class="row">
            <p>@Html.Raw(Model.Description)</p>
        </div>

        <div class="row">
            <p>@Model.Location</p>
        </div>
        <div class="row">
            <p>@Model.StartDate</p>
        </div>
        <div class="row">
            <p>@Model.EndDate</p>
        </div>

    </div>

    <div>
        <div class="row pt-2">
            @if (User.IsInRole(SD.Role_Student))
            {
                @if (!ViewBag.HasApplied)
                {
                    <div class="col-6 col-md-3">
                        <a asp-controller="InternshipApplication" asp-action="Create" asp-route-internshipId="@Model.InternshipId" class="btn btn-outline-primary border form-control">
                            Apply for internship
                        </a>
                    </div>
                }
                else
                {
                    <div class="col-6 col-md-3">
                        <form id="cancelApplicationForm" data-application-id="@ViewBag.InternshipApplicationId">
                            <button type="button" class="btn btn-danger mx-2" onclick="cancelApplication()">
                                <i class="bi bi-trash-fill"></i> Cancel application
                            </button>
                        </form>
                    </div>
                }
            }

            @if (!User.IsInRole(SD.Role_Student) && Model.NumOfApplications > 0 && Model.CompanyId == ViewBag.UserId)
            {
                <div class="col-6 col-md-3">
                    <a asp-controller="InternshipApplication" asp-action="Index" asp-route-internshipId="@Model.InternshipId" class="btn btn-outline-primary border  form-control">
                        See all applications
                    </a>
                </div>
            }
            @if (!ViewBag.IsSaved)
            {
                <div class="col-6 col-md-3">
                    <a asp-controller="Internship" asp-action="SaveInternship" asp-route-id="@Model.InternshipId" class="btn btn-outline-primary border  form-control">
                        Save
                    </a>
                </div>
            }

            <div class="col-6 col-md-3">
                <a asp-controller="Internship" asp-action="Index" class="btn btn-outline-primary border  form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</div>
