@model Internship

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a asp-controller="Internship" asp-action="Index" class="btn btn-primary">
                <i class="bi bi-arrow-left"></i> Back to List
            </a>
        </div>
    </div>

    <div class="row mt-3 justify-content-center">
        <div class="col-md-6 border p-3">
            <h2 class="mb-3 text-center">@Model.CompanyName</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Company Name</th>
                        <td>@Model.CompanyName</td>
                    </tr>
                    <tr>
                        <th scope="row">Title</th>
                        <td>@Model.Title</td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>@Html.Raw(Model.Description)</td>
                    </tr>
                    <tr>
                        <th scope="row">Location</th>
                        <td>@Model.Location</td>
                    </tr>
                    <tr>
                        <th scope="row">Start Date</th>
                        <td>@Model.StartDate.ToString("dd.MM.yyyy")</td>
                    </tr>
                    <tr>
                        <th scope="row">End Date</th>
                        <td>@Model.EndDate.ToString("dd.MM.yyyy")</td>
                    </tr>
                </tbody>
            </table>

            <div class="row pt-2">
                @if (User.IsInRole(SD.Role_Student))
                {
                    @if (!ViewBag.HasApplied)
                    {
                        <div class="col-6 col-md-3">
                            <form asp-controller="InternshipApplication" asp-action="Create" method="post">
                                <input type="hidden" name="internshipId" value="@Model.InternshipId" />
                                <button type="submit" class="btn btn-outline-primary border form-control">Apply for Internship</button>
                            </form>
                        </div>
                    }

                    else
                    {
                        <div class="col-6 col-md-3">
                            <form id="cancelApplicationForm" data-application-id="@ViewBag.InternshipApplicationId">
                                <button type="button" class="btn btn-danger mx-2" onclick="cancelApplication()">
                                    <i class="bi bi-trash-fill"></i> Cancel Application
                                </button>
                            </form>
                        </div>
                    }
                    @if (!ViewBag.IsSaved)
                    {
                        <div class="col-6 col-md-3">
                            <a asp-controller="Internship" asp-action="SaveInternship" asp-route-id="@Model.InternshipId" class="btn btn-outline-primary border form-control">
                                <i class="bi bi-heart"></i> Save
                            </a>
                        </div>
                    }
                }

                @if (!User.IsInRole(SD.Role_Student) && Model.NumOfApplications > 0 && Model.CompanyId == ViewBag.UserId)
                {
                    <div class="col-6 col-md-3">
                        <a asp-controller="InternshipApplication" asp-action="Index" asp-route-internshipId="@Model.InternshipId" class="btn btn-outline-primary border form-control">
                            See All Applications
                        </a>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
