@model List<Internship>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    var userId = UserManager.GetUserId(User);
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Internship List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            @if (User.IsInRole(SD.Role_Company))
            {
                <div class="col-6 text-end">
                    <a asp-controller="Internship" asp-action="Create" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i> Create New Internship
                    </a>
                </div>

            }
        </div>
        <div class="mb-3">
            <button id="filterButton" class="btn btn-primary mb-2" type="button" style="margin-top:5px"><i class="bi bi-filter"></i>Filter</button>
            <div id="filterOptions" class="mt-3" style="display: none;">
                @if (User.IsInRole(SD.Role_Company))
                {
                    <div class=" col-2 text-start">
                        <a asp-controller="Internship" asp-action="ExpiredInternships" class="btn btn-secondary">See expired internships
                        </a>
                    </div>
                    <div class=" col-2 text-start" style="margin-top:5px">
                        <a asp-controller="Internship" asp-action="Index" asp-route-companyId="@userId" class="btn btn-secondary">
                            My Internships
                        </a>
                    </div>
                }
                <div class="form-check" style="margin-top:5px">
                    <input class="form-check-input" type="checkbox" name="paid" value="true" id="paidFilter" />
                    <label class="form-check-label" for="paidFilter">Paid Internship</label>
                </div>
                <div class="form-group">
                    <label for="locationFilter">Location:</label>
                    <select asp-items="ViewBag.Locations" id="locationFilter" class="form-select">
                        <option>-</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="positionFilter">Position:</label>
                    <select asp-items="ViewBag.Positions" id="positionFilter" class="form-select">
                        <option>-</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="prLanguageFilter">Prog. language:</label>
                    <select asp-items="ViewBag.ProgramLanguages" id="prLanguageFilter" class="form-select">
                        <option>-</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="techFilter">Technology:</label>
                    <select asp-items="ViewBag.Technologies" id="techFilter" class="form-select">
                        <option>-</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="workPlaceFilter">Workplace:</label>
                    <select id="workPlaceFilter" class="form-select">
                        <option>-</option>
                        @foreach (var workPlace in SD.WorkPlace)
                        {
                            <option value="@workPlace">@workPlace</option>
                        }
                    </select>
                </div>
                <button id="applyFilterButton" class="btn btn-primary mt-2 mb-2" type="button">Apply Filter</button>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Company
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.Title</td>
                        <td>
                            @obj.CompanyName

                        </td>
                        <td>
                            @obj.StartDate.ToString("dd.MM.yyyy")

                        </td>

                        <td>
                            <div class="w-75 btn-group" role="group">

                                <a asp-controller="Internship" asp-action="Details" asp-route-id="@obj.InternshipId" class="btn btn-primary mx-2">
                                    Details
                                </a>
                                @if (User.IsInRole(SD.Role_Company) || User.IsInRole(SD.Role_Admin))
                                {
                                    <a asp-controller="Internship" asp-action="Edit" asp-route-id="@obj.InternshipId" class="btn btn-primary mx-2">
                                        <i class="bi bi-pencil-square"></i> Edit
                                    </a>


                                    <a asp-controller="Internship" asp-action="Delete" asp-route-id="@obj.InternshipId" class="btn btn-danger mx-2">
                                        <i class="bi bi-trash-fill"></i> Delete
                                    </a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>


<script>
    document.getElementById("filterButton").addEventListener("click", function () {
        var filterOptions = document.getElementById("filterOptions");
        if (filterOptions.style.display === "none") {
            filterOptions.style.display = "block";
        } else {
            filterOptions.style.display = "none";
        }
    });

    document.getElementById("applyFilterButton").addEventListener("click", function () {
        var paidFilter = document.querySelector('input[name="paid"]:checked');
        var locationFilter = document.getElementById("locationFilter");
        var positionFilter = document.getElementById("positionFilter");
        var prLanguageFilter = document.getElementById("prLanguageFilter");
        var techFilter = document.getElementById("techFilter");
        var workPlaceFilter = document.getElementById("workPlaceFilter");



        var paidValue = paidFilter ? paidFilter.value : "";
        var locationValue = locationFilter ? locationFilter.value : "";
        var positionValue = positionFilter ? positionFilter.value : "";
        var prLanguageValue = prLanguageFilter ? prLanguageFilter.value : "";
        var techValue = techFilter ? techFilter.value : "";
        var workPlaceValue = workPlaceFilter ? workPlaceFilter.value : "";

        window.location.href = '/Internship/Filter?paid=' + paidValue + '&location=' + locationValue + '&position=' + positionValue + '&language=' + prLanguageValue + '&technology=' + techValue + '&workPlace=' + workPlaceValue;

    });
</script>