@using Microsoft.AspNetCore.Identity
@model List<IdentityUser>

<h2>Users:</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr data-user-id="@user.Id" class="user-row">
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td class="d-flex">
                    <a asp-controller="Administration" asp-action="UpdateUser" asp-route-id="@user.Id" class="btn btn-primary mx-2">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>

                    <form class="deleteUserForm">
                        <button type="button" class="btn btn-danger mx-2" onclick="deleteUser('@user.Id')">
                            <i class="bi bi-trash-fill"></i> Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="edit-delete-buttons" style="display: none;">
    <a href="#" class="btn btn-primary" id="edit-link">Edit</a>
    <a href="#" class="btn btn-danger" id="delete-link">Delete</a>
</div>

