@model List<Internship>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Internship List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            @if (User.IsInRole(SD.Role_Company))
            {
                <div class="col-6 text-end">
                    <a asp-controller="Internship" asp-action="Create" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i> Create New Internship
                    </a>
                </div>
            }
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Company
                    </th>
                    <th>
                        start Date
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.Title</td>
                        <td>
                            @obj.CompanyName

                        </td>
                        <td>
                            @obj.StartDate.ToString("dd.MM.yyyy")

                        </td>

                        <td>
                            <div class="w-75 btn-group" role="group">
                                <form method="post" asp-controller="SavedIntern" asp-action="Delete" asp-route-id="@obj.InternshipId">
                                <a asp-controller="Internship" asp-action="Details" asp-route-id="@obj.InternshipId" class="btn btn-primary mx-2">
                                    <i class="bi bi-trash-fill"></i> Details
                                </a>
                                <button type="submit" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash-fill"></i> Remove
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>